@media screen and (min-width: 480px) {
    body {
        background-color: lightblue;
        font-size: xx-small;
    }
}

@media screen and (min-width: 768px) {
    body {
        background-color: lightgreen;
        font-size: medium;
    }
    
}

@media screen and (min-width: 1200px) {
    body {
        background-color: lightcoral;
        font-size : xx-large;
    }
    h1{}
    p{}
    
}